@import url("https://use.typekit.net/efa7ivj.css");

$coquetteFont: 'coquette', sans-serif;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin transform($property) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
}

@mixin transition($property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property
}

* {
    font-family: $coquetteFont;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #076c5c;
    color: #fff;
    padding: 10px 20px;
    @include flex(row, space-between, center);
    @include transition(all 0.3s ease);
    z-index: 1000;

    &.scrolled {
        justify-content: flex-end;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        
        .navbar-toggler {
            display: none;
            cursor: pointer;
            width: 30px;
            height: 25px;
            position: relative;

            .bar1,
            .bar2,
            .bar3 {
                width: 100%;
                height: 3px;
                background-color: #fff;
                position: absolute;
                @include transition(0.3s ease);
            }

            .bar1 {
                top: 0;
            }

            .bar2 {
                top: 11px;
            }

            .bar3 {
                top: 22px;
            }

            &.open .bar1 {
                @include transform(rotate(-45deg) translate(-5px, 6px));
            }
        }
    }

    .navbar-menu {
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;

            li {
                margin: 0;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        &.is-active {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #076c5c;
        &.is-active {
            display: flex;
        }
    }

    .navbar.scrolled {
        justify-content: flex-start;
    }
}